{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% comment %} <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> {% endcomment %}
  <script src="https://kit.fontawesome.com/3e94e46fc0.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
<style>
    body {
        background-color: #f5f5f5;
    }
</style>

</head>
<body>
{% if request.user.is_authenticated %}
  {% include 'base/nav.html' %}
{% endif %}
<div id="messages-container">
</div>   
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message | safe }}
    </div>
{% endfor %}
    <script>
        setTimeout(function() {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            alert.style.display = 'none';
        });
        }, 9000); // 9000 milliseconds = 9 seconds
    </script>

    <div class="container">
        {% block content %}
        {% endblock %}
  </div>


 
</body>
</html>