{% load crispy_forms_tags %}



    {% comment %}    Status Start     {% endcomment %}
    <li class="list-group-item justify-content-between align-items-center list-group-item-dark">
        Status:
        {% if user_role == 'admin' %}
            <form method="post" id="update-status-form" style="display: flex; align-items: center;" action="{% url 'update_status' pk=ticket.pk %}">
                {% csrf_token %}
                {{ status_form|crispy }}
                <button type="submit" style="margin-left: 1.5em; margin-bottom: 1.5em;" name="status-submit" class="btn btn-sm btn-outline-primary ">Update</button>
            </form>
        {% else %}
                <span class="badge bg-secondary rounded-pill"> {{ ticket.status }}</span>
        {% endif %}
    </li>

    
    <script>
        $(document).ready(function() {
            function showToast(message, alertType) {
                var toastClass = alertType === 'success' ? 'bg-success' : 'bg-danger';
                var toastHTML = '<div class="toast ' + toastClass + '" role="alert" aria-live="assertive" aria-atomic="true">'
                    + '<div class="toast-body d-flex justify-content-between align-items-center text-white">'
                    + message
                    + '<button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>'
                    + '</div>'
                    + '</div>';
    
                $('#toast-container').append(toastHTML);
                var toast = new bootstrap.Toast($('#toast-container .toast').last());
                toast.show();
            }
    
            function submitForm(formId) {
                var form = $(formId);
    
                form.submit(function (event) {
                    event.preventDefault();
    
                    var formData = new FormData(form[0]);
    
                    $.ajax({
                        type: 'POST',
                        url: form.attr('action'),
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            showToast(response.message, response.status);
                        },
                        error: function () {
                            alert('An error occurred.');
                        }
                    });
                });
            }
    
            // Call the function for each form
            submitForm("#update-status-form");
        });
    </script>
    