{% extends 'base/base.html' %}

{% block content %}
{% load crispy_forms_tags %}



<style>
  .card {
      {% comment %} margin: 20px auto; {% endcomment %}
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      padding: 10px;
      border-radius: 5px;
  }

  .text-smaller {
    font-size:11px ;
}
</style>

<div class="container mt-5">

  <div class="row">
    {% if request.user.user_type.type == "agent" %}
    <div class="col-md-8">
    {% else %}
    <div class="col-md-12">
    {% endif %}
      <div class="card">

        <div class="card-header">
            <h5 class="card-title text-center">{{ ticket.order_id }}</h5>

            <div class="text-end">
                <span class="text-end font-weight-normal" >
                  {% if ticket.user == user %}
                    <small class="text-muted">Created by You @ {{ ticket.created_at }}</small>
                  {% else %}
                    <small class="text-muted">  Created by: {{ ticket.user }}  @ {{ ticket.created_at }}</small>
                </span>
                  {% endif %}
              </div>
          </div>

          <div class="card-body text-end">
            <p class="card-text ">{{ ticket.description | safe}}</p>
            {% if ticket.post_image %}
              <img src="{{ ticket.post_image.url }}" class="img-fluid" alt="Ticket Image">
            {% endif %}
          </div>

        </div> 

        

        <div>
          {% include "base/add_comment.html" %}
        </div>

      </div>

      
      {% if request.user.user_type.type == "agent" %}
      <div class="col-md-4 card">
        {% include "base/location_update.html" %}   
        {% include "base/status_update.html" %}   
        {% include "base/tag_update.html" %}   
        {% include "base/department_update.html" %}   
        {% include "base/assigned_to_update.html" %}   
        <hr>
        <div class="">
          <p class="text-center"> Ticket Logs </p>
          {% for log in logs %}
          <span class="text-smaller" >
              <p><small class="text-muted"> - {{log.message}} @ {{log.timestamp}} </small></p>
            </span>
             {% endfor %}
        </div>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}


